.modal{ 
	.btn-close{
		background: url(../img/icon-plus.svg);
		width: 52px;
		height: 52px;
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		transform: rotate(45deg);
		position: absolute;
		top: -23px;
    	right: -22px;
	    z-index: 20;
	    opacity: 1;
	    -webkit-transition: all 250ms ease-in-out;
		-moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		-o-transition: all 250ms ease-in-out;
		transition: all 250ms ease-in-out;
		&:hover,
		&:active{
			transform: scale(0.9) rotate(45deg);
			-webkit-transition: all 250ms ease-in-out;
			-moz-transition: all 250ms ease-in-out;
			-ms-transition: all 250ms ease-in-out;
			-o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
		}
		
		@media screen and (min-width: 1024px) {
			width: 80px;
			height: 80px;
		}
		@media screen and (min-width: 2000px) {
			width: 111.642px;
			height: 113.36px;
			top: -61px;
	    	right: -61px;
		}
	}
	.modal-dialog{
		max-width: 1717.577px;
		width: 90%;
		.modal-content {
			background-color: transparent;
			.modal-body{
				position: relative;
				border-radius: 12.158px;
				background: #E5EAEB;
				padding: var(--cd-fluid-modal-padding);
				overflow: hidden;
				.drawer-img{
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					z-index: 12;
					height: 100%;
				}
				.listing-img{
					position: absolute;
				    bottom: 0;
				    left: 50%;
				    z-index: 12;

				    max-width: 80%;
    				margin-left: -40%;
    				@media screen and (min-width: 2000px) {
					    max-width: 1300px;
					    margin-left: -650px;
					}
				}
				.map-img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) !important;
					z-index: 12;
					max-width: 1460px;
					width: 100%;
				}
				.inner-modal-overlay{
					background-color: rgba(0, 0, 0, 0.5);
					position: absolute;
					border-radius: 12.158px;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 11;
				}
				#drawer-trigger{
					z-index: 10;
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
	}
}

.hotspot{
	position: absolute;
	width: var(--cd-fluid-hotspot-size);
	height:var(--cd-fluid-hotspot-size);
	aspect-ratio: 1/1;
	pointer-events: none;
}
.pc-hs-1{
	right: 2%;
	top: 10%;
}
.hs-1{
	// right: 60px;
	// top: 450px;
	right: 3%;
    top: 29%;
}
.hs-2{
	top: 740px;
	left: 80px;
}
.hs-3{
	top: 310px;
	left: 581px;
}
.hs-4{
	bottom: 370px;
	left: 0px;
	z-index: 55;
}
.hs-5 {
    bottom: 27%;
    left: 46%;
}
.hs-6 {
    bottom: 8%;
    right: 18%;
}
.hs-7 {
	right: 3%;
    top: 42%;
}
.hs-manage-listings{
	top: 360px;
    right: -24px;
}
.scroll-wrap{
	width: 100%;
	height: 100%;
	max-height: 2150px;
	overflow: scroll;
}
.modal-wrap{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	position: relative;
}
.scrollable-wrap{
	    max-height: 1600px;
    overflow: scroll;
}
.phone-wrap{
	overflow: hidden;
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.phone-screen{
	display: block;
	width: 760px;
	height: 1560px;
	position: relative;
}
.phone-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.phone-screen-1{
	z-index: 10;
}
.phone-screen-2{
z-index: 30;
}
.phone-screen-3{
z-index: 40;
}
.phone-start-button{
	position: absolute;
    z-index: 20;
	bottom: 13%;
	right: 8%;
    max-width: 102px;
}
.hs-start-btn{
	position: absolute;
	bottom: 14%;
    right: 5%;
}
.blind-ratings-modal-1{

}

.blind-ratings-modal-2{
	position: absolute;
	bottom: 13%;
    right: 3.5%;
    max-width: 42%;
}
.hs-ebol-1{
	top: 23.5%;
    right: 26%;
}
#ebol-bg{

}
#ebol-actions{
	max-width: 200px;
	top: 26.0125%;
    right: 25.51%;
}
#ebol-actions-active{
	max-width: 200px;
	top: 26.0125%;
    right: 25.51%;
}
#ebol-dropdown{
	max-width: 400px;
    right: 26%;
    top: 13.597%;
}
#ebol-page{

}




