:root{
	--cd-color-white: #ffffff;
	--cd-color-tangerine: #FF821C;
	--cd-color-umber: #C45200;
	--cd-color-rust: #752B15;
	--cd-color-blacktop: #00333F;
	--cd-color-sunflower: #FFC20E;
	--cd-color-sunshine: #FFDF6B;
	--cd-color-cobalt: #003468;
	--cd-color-azure: #005BA8;
	--cd-color-cerulean: #00A0C4;
	--cd-color-pavement-grey: #415154;
	--cd-color-steel-grey: #637377;
	--cd-color-light-grey: #98A5A8;
	--cd-color-fog: #E5EAEB;
	--cd-color-snow: #F8F9FA;
	--cd-font-size-3xl: 120px;
	--cd-font-size-2xl: 72px;
	--cd-font-size-xl: 68px;
	--cd-font-size-lg: 48px;
	--cd-font-size-md: 40px;
	--cd-font-size-sm: 32px;
	--cd-font-size-xs: 28px;
	
	--cd-font-line-height-3xl: 95%;
	--cd-font-line-height-2xl: 53.1%;
	--cd-font-line-height-xl: 95%;
	--cd-font-line-height-lg: 170%;
	--cd-font-line-height-md: 170%;
	--cd-font-line-height-sm: 160%;
	--cd-font-line-height-xs: 120%;
	--cd-font-letter-spacing-h1: -.02em;
	--cd-font-letter-spacing-body: 0px;
	--cd-font-letter-spacing-heading: -2px;
	--cd-font-family-saira: 'Saira Semi Condensed';
	--cd-font-family-roboto: 'Roboto';
	--cd-gradient-gold: linear-gradient(180deg, var(--cd-color-sunshine) 0%, var(--cd-color-sunflower) 100%);

	--cd-font-size-p-small:16px;
	--cd-font-size-p:18px;
	--cd-font-size-p-large:22px;
	--cd-font-size-li-heading: 54px;
	--cd-font-size-li-text: 26px;
	--cd-font-size-h1: 48px;
	--cd-font-size-h2: 28px;
	--cd-font-size-h3: 52px;
	--cd-font-size-title: 72px;
	--cd-font-size-tag: 24px;
	--cd-font-size-btn: 18px;
	--cd-btn-padding: 20px 30px;
	--cd-container-padding: 30px 50px;
	@media screen and (min-width: 700px) {
		// --cd-font-size-p-small: 20px;
		// --cd-font-size-p: 22px;
		// --cd-font-size-p-large: 28px;
		// --cd-font-size-li-heading: 54px;
		// --cd-font-size-li-text: 26px;
		// --cd-font-size-h1:64px;
		// --cd-font-size-h2: 40px;
		// --cd-font-size-h3: 64px;
		// --cd-font-size-title: 96px;
		// --cd-font-size-tag: 32px;
		// --cd-font-size-btn: 20px;
		// --cd-btn-padding: 24px 30px;
		--cd-fluid-btn-padding-vert: clamp(24px, calc(1.5rem + ((1vw - 10px) * 2.6)), 50px);
		--cd-fluid-btn-padding-horz: clamp(30px, calc(1.875rem + ((1vw - 10px) * 3.3)), 63px);
		--cd-container-padding: 40px 60px;
		--cd-fluid-container-padding-vert: clamp(40px, calc(2.5rem + ((1vw - 10px) * 2.2)), 62px);
		--cd-fluid-container-padding-horz: 60px;
		--cd-fluid-font-size-h1: clamp(48px, calc(3rem + ((1vw - 10px) * 7.2)), 120px);
		--cd-fluid-font-size-h2: clamp(40px, calc(2.5rem + ((1vw - 10px) * 2.8)), 68px);
		--cd-fluid-font-size-h3: clamp(64px, calc(4rem + ((1vw - 10px) * 0.8)), 72px);
		--cd-fluid-font-size-title: clamp(96px, calc(6rem + ((1vw - 10px) * 15.767)), 253.67px);
		--cd-fluid-font-size-tag: clamp(32px, calc(2rem + ((1vw - 10px) * 2.125)), 53.25px);
		--cd-fluid-font-size-btn: clamp(22px, calc(1.375rem + ((1vw - 7px) * 1.8571)), 48px);;
		--cd-fluid-font-size-start-btn: clamp(18px, calc(1.125rem + ((1vw - 7px) * 1.5714)), 40px);
		--cd-fluid-start-btn-padding-vert: clamp(12px, calc(0.75rem + ((1vw - 7px) * 2.7143)), 50px);
		--cd-fluid-start-btn-padding-horz: clamp(24px, calc(1.5rem + ((1vw - 7px) * 2.8571)), 64px);
		--cd-fluid-start-btn-padding: var(--cd-fluid-start-btn-padding-vert) var(--cd-fluid-start-btn-padding-horz);
		--cd-fluid-logo-width: clamp(138px, calc(8.625rem + ((1vw - 7px) * 33)), 600px);


		// --cd-font-size-p-xsmall: 12px;
		// --cd-font-size-p-small: 16px;
		// --cd-font-size-p: 18px;
		// --cd-font-size-p-large: 22px;
		// --cd-font-size-h1: 48px;
		// --cd-font-size-h2: 28px;
		// --cd-font-size-h2-super: 50px;
		// --cd-font-size-h3: 52px;
		// --cd-font-size-h4: 18px;
		// --cd-font-size-lg: 48px;
		// --cd-font-family-body: Roboto;
		// --cd-font-size-title: 72px;
		// --cd-font-family-heading: Siara SemiCondensed;
		// --cd-font-size-tag: 24px;
		// --cd-font-line-height-3xl: 95px;
		// --cd-font-letter-spacing-body: 0px;
		// --cd-font-letter-spacing-heading: -2px;
		// --cd-font-line-height-2xl: 53.099998474121094px;
		// --cd-font-line-height-xl: 95px;
		// --cd-font-line-height-lg: 170px;
		// --cd-font-line-height-md: 130px;
		// --cd-font-line-height-line-hieght-p-large: 130%;
		// --cd-font-line-height-sm: 160px;
		// --cd-font-line-height-xs: 120px;
		// --cd-font-weight-thin: Thin;
		// --cd-font-weight-extralight: ExtraLight;
		// --cd-font-weight-regular: Regular;
		// --cd-font-weight-medium: Medium;
		// --cd-font-weight-semibold: SemiBold;
		// --cd-font-weight-bold: Bold;
		// --cd-color-primary-color-tangerine: rgba(255, 130, 28, 1);
		// --cd-font-weight-extrabold: ExtraBold;
		// --cd-color-secondary-color-sunflower: rgba(255, 194, 14, 1);
		// --cd-color-primary-color-umber: rgba(196, 82, 0, 1);
		// --cd-font-weight-black: Black;
		// --cd-color-secondary-color-sunshine: rgba(255, 223, 107, 1);
		// --cd-color-primary-color-rust: rgba(117, 43, 21, 1);
		// --cd-color-secondary-color-cobalt: rgba(0, 52, 104, 1);
		// --cd-color-primary-color-blacktop: rgba(0, 51, 63, 1);
		// --cd-color-neutral-color-steel-grey: rgba(99, 115, 119, 1);
		// --cd-color-neutral-color-snow: rgba(229, 234, 235, 1);
		// --cd-color-neutral-color-light-grey: rgba(152, 165, 168, 1);
		// --cd-color-neutral-color-pavement-grey: rgba(65, 81, 84, 1);
		// --cd-color-neutral-color-fog: rgba(229, 234, 235, 1);
		// --cd-containers-gap-content-area: 20px;
		// --cd-color-secondary-color-azure: rgba(0, 91, 168, 1);
		// --cd-color-secondary-color-cerulean: rgba(0, 160, 196, 1);
		// --cd-font-size-btn: 18px;
		// --cd-containers-padding-main-top: 0px;
		// --cd-containers-padding-main-bottom: 0px;
		// --cd-containers-padding-main-left: 0px;
		// --cd-containers-padding-main-right: 0px;
		// --cd-containers-dimensions-screen-size-width: 744px;
		// --cd-containers-dimensions-screen-size-height: 1133px;
		// --cd-containers-dimensions-heading-column-width: 160px;
		// --cd-containers-dimensions-logo-size-width: 136px;
		// --cd-containers-dimensions-container-max-width: 0px;
		// --cd-font-size-list-item: 14px;
	}
	@media screen and (min-width: 1024px) {
		// --cd-font-size-p-small: 20px;
		// --cd-font-size-p: 22px;
		// --cd-font-size-p-large: 28px;
		// --cd-font-size-li-heading: 54px;
		// --cd-font-size-li-text: 26px;
		// --cd-font-size-h1:64px;
		// --cd-font-size-h2: 40px;
		// --cd-font-size-h3: 64px;
		// --cd-font-size-title: 96px;
		// --cd-font-size-tag: 32px;
		// --cd-font-size-btn: 20px;
		// --cd-btn-padding: 24px 30px;
		--cd-fluid-btn-padding-vert: clamp(24px, calc(1.5rem + ((1vw - 10px) * 2.6)), 50px);
		--cd-fluid-btn-padding-horz: clamp(30px, calc(1.875rem + ((1vw - 10px) * 3.3)), 63px);
		--cd-container-padding: 40px 60px;
		--cd-fluid-container-padding-vert: clamp(40px, calc(2.5rem + ((1vw - 10px) * 2.2)), 62px);
		--cd-fluid-container-padding-horz: 60px;
		--cd-fluid-font-size-h1: clamp(48px, calc(3rem + ((1vw - 10px) * 7.2)), 120px);
		--cd-fluid-font-size-h2: clamp(40px, calc(2.5rem + ((1vw - 10px) * 2.8)), 68px);
		--cd-fluid-font-size-h3: clamp(64px, calc(4rem + ((1vw - 10px) * 0.8)), 72px);
		--cd-fluid-font-size-title: clamp(96px, calc(6rem + ((1vw - 10px) * 15.767)), 253.67px);
		--cd-fluid-font-size-tag: clamp(32px, calc(2rem + ((1vw - 10px) * 2.125)), 53.25px);
		--cd-fluid-font-size-p-small: clamp(20px, calc(1.25rem + ((1vw - 10.24px) * 0.3521)), 24px);
		--cd-fluid-font-size-p: clamp(22px, calc(1.375rem + ((1vw - 10.24px) * 0.5282)), 28px);
		--cd-fluid-font-size-p-large: clamp(28px, calc(1.75rem + ((1vw - 10.24px) * 0.7042)), 36px);
		--cd-fluid-font-size-li-heading: ;
		--cd-fluid-font-size-li-text: ;
		--cd-fluid-font-size-btn: clamp(20px, calc(1.25rem + ((1vw - 10px) * 2)), 40px);
		--cd-start-btn-padding: 12px 30px;
		--cd-fluid-start-btn-padding-vert: clamp(12px, calc(0.75rem + ((1vw - 10px) * 3.8)), 50px);
		--cd-fluid-start-btn-padding-horz: clamp(30px, calc(1.875rem + ((1vw - 10px) * 3.3)), 63px);


		//new vars
		  // --cd-font-size-p-xsmall: 15px;
		  // --cd-font-size-p-small: 20px;
		  // --cd-font-size-p: 22px;
		  // --cd-font-size-p-large: 28px;
		  // --cd-font-size-h1: 64px;
		  // --cd-font-size-h2: 40px;
		  // --cd-font-size-h2-super: 62px;
		  // --cd-font-size-h3: 64px;
		  // --cd-font-size-h4: 24px;
		  // --cd-font-size-lg: 48px;
		  // --cd-font-family-body: Roboto;
		  // --cd-font-size-title: 96px;
		  // --cd-font-family-heading: Siara SemiCondensed;
		  // --cd-font-size-tag: 32px;
		  // --cd-font-line-height-3xl: 95px;
		  // --cd-font-letter-spacing-body: 0px;
		  // --cd-font-letter-spacing-heading: -2px;
		  // --cd-font-line-height-2xl: 53.099998474121094px;
		  // --cd-font-line-height-xl: 95px;
		  // --cd-font-line-height-lg: 170px;
		  // --cd-font-line-height-md: 150px;
		  // --cd-font-line-height-line-hieght-p-large: 150%;
		  // --cd-font-line-height-sm: 160px;
		  // --cd-font-line-height-xs: 120px;
		  // --cd-font-weight-thin: Thin;
		  // --cd-font-weight-extralight: ExtraLight;
		  // --cd-font-weight-regular: Regular;
		  // --cd-font-weight-medium: Medium;
		  // --cd-font-weight-semibold: SemiBold;
		  // --cd-font-weight-bold: Bold;
		  // --cd-color-primary-color-tangerine: rgba(255, 130, 28, 1);
		  // --cd-font-weight-extrabold: ExtraBold;
		  // --cd-color-secondary-color-sunflower: rgba(255, 194, 14, 1);
		  // --cd-color-primary-color-umber: rgba(196, 82, 0, 1);
		  // --cd-font-weight-black: Black;
		  // --cd-color-secondary-color-sunshine: rgba(255, 223, 107, 1);
		  // --cd-color-primary-color-rust: rgba(117, 43, 21, 1);
		  // --cd-color-secondary-color-cobalt: rgba(0, 52, 104, 1);
		  // --cd-color-primary-color-blacktop: rgba(0, 51, 63, 1);
		  // --cd-color-neutral-color-steel-grey: rgba(99, 115, 119, 1);
		  // --cd-color-neutral-color-snow: rgba(229, 234, 235, 1);
		  // --cd-color-neutral-color-light-grey: rgba(152, 165, 168, 1);
		  // --cd-color-neutral-color-pavement-grey: rgba(65, 81, 84, 1);
		  // --cd-color-neutral-color-fog: rgba(229, 234, 235, 1);
		  // --cd-containers-gap-content-area: 40px;
		  // --cd-color-secondary-color-azure: rgba(0, 91, 168, 1);
		  // --cd-color-secondary-color-cerulean: rgba(0, 160, 196, 1);
		  // --cd-font-size-btn: 20px;
		  // --cd-containers-padding-main-top: 0px;
		  // --cd-containers-padding-main-bottom: 0px;
		  // --cd-containers-padding-main-left: 0px;
		  // --cd-containers-padding-main-right: 0px;
		  // --cd-containers-dimensions-screen-size-width: 1024px;
		  // --cd-containers-dimensions-screen-size-height: 1366px;
		  // --cd-containers-dimensions-heading-column-width: 240px;
		  // --cd-containers-dimensions-logo-size-width: 186px;
		  // --cd-containers-dimensions-container-max-width: 0px;
		  // --cd-font-size-list-item: 16px;
	}
	@media screen and (min-width: 2000px) {
		--cd-font-size-p-small: 24px;
		--cd-font-size-p: 28px;
		--cd-font-size-p-large: 36px;
		--cd-font-size-li-heading: 54px;
		--cd-font-size-li-text: 26px;
		--cd-font-size-h1:120px;
		--cd-font-size-h2: 68px;
		--cd-font-size-h2-super: 86px;
		--cd-font-size-h3: 72px;
		--cd-font-size-title: 253.67px;
		--cd-font-size-tag: 53.25px;
		--cd-font-size-btn: 40px;
		--cd-start-btn-padding: 50px 63px;
		--cd-btn-padding: 62px;
		--cd-container-padding: 70px 90px;

		//new vars

		// --cd-font-size-p-xsmall: 20px;
		// --cd-font-size-p-small: 24px;
		// --cd-font-size-p: 28px;
		// --cd-font-size-p-large: 36px;
		// --cd-font-size-h1: 120px;
		// --cd-font-size-h2: 68px;
		// --cd-font-size-h2-super: 86px;
		// --cd-font-size-h3: 72px;
		// --cd-font-size-h4: 38px;
		// --cd-font-size-lg: 48px;
		// --cd-font-family-body: Roboto;
		// --cd-font-size-title: 253.6699981689453px;
		// --cd-font-family-heading: Siara SemiCondensed;
		// --cd-font-size-tag: 53.25px;
		// --cd-font-line-height-3xl: 95px;
		// --cd-font-letter-spacing-body: 0px;
		// --cd-font-letter-spacing-heading: -2px;
		// --cd-font-line-height-2xl: 53.099998474121094px;
		// --cd-font-line-height-xl: 95px;
		// --cd-font-line-height-lg: 170px;
		// --cd-font-line-height-md: 289px;
		// --cd-font-line-height-line-hieght-p-large: 170%;
		// --cd-font-line-height-sm: 160px;
		// --cd-font-line-height-xs: 120px;
		// --cd-font-weight-thin: Thin;
		// --cd-font-weight-extralight: ExtraLight;
		// --cd-font-weight-regular: Regular;
		// --cd-font-weight-medium: Medium;
		// --cd-font-weight-semibold: SemiBold;
		// --cd-font-weight-bold: Bold;
		// --cd-color-primary-color-tangerine: rgba(255, 130, 28, 1);
		// --cd-font-weight-extrabold: ExtraBold;
		// --cd-color-secondary-color-sunflower: rgba(255, 194, 14, 1);
		// --cd-color-primary-color-umber: rgba(196, 82, 0, 1);
		// --cd-font-weight-black: Black;
		// --cd-color-secondary-color-sunshine: rgba(255, 223, 107, 1);
		// --cd-color-primary-color-rust: rgba(117, 43, 21, 1);
		// --cd-color-secondary-color-cobalt: rgba(0, 52, 104, 1);
		// --cd-color-primary-color-blacktop: rgba(0, 51, 63, 1);
		// --cd-color-neutral-color-steel-grey: rgba(99, 115, 119, 1);
		// --cd-color-neutral-color-snow: rgba(229, 234, 235, 1);
		// --cd-color-neutral-color-light-grey: rgba(152, 165, 168, 1);
		// --cd-color-neutral-color-pavement-grey: rgba(65, 81, 84, 1);
		// --cd-color-neutral-color-fog: rgba(229, 234, 235, 1);
		--cd-containers-gap-content-area: 80px;
		// --cd-color-secondary-color-azure: rgba(0, 91, 168, 1);
		// --cd-color-secondary-color-cerulean: rgba(0, 160, 196, 1);
		// --cd-font-size-btn: 40px;
		--cd-containers-padding-main-top: 120px;
		--cd-containers-padding-main-bottom: 140px;
		--cd-containers-padding-main-left: 100px;
		--cd-containers-padding-main-right: 100px;
		--cd-containers-dimensions-screen-size-width: 2160px;
		--cd-containers-dimensions-screen-size-height: 3840px;
		--cd-containers-dimensions-heading-column-width: 440px;
		--cd-containers-dimensions-logo-size-width: 600px;
		--cd-containers-dimensions-container-max-width: 1700px;
		--cd-font-size-list-item: 26px;
	}
}
