:root {
  --cd-color-white: #ffffff;
  --cd-color-tangerine: #FF821C;
  --cd-color-umber: #C45200;
  --cd-color-rust: #752B15;
  --cd-color-blacktop: #00333F;
  --cd-color-sunflower: #FFC20E;
  --cd-color-sunshine: #FFDF6B;
  --cd-color-cobalt: #003468;
  --cd-color-azure: #005BA8;
  --cd-color-cerulean: #00A0C4;
  --cd-color-pavement-grey: #415154;
  --cd-color-steel-grey: #637377;
  --cd-color-light-grey: #98A5A8;
  --cd-color-fog: #E5EAEB;
  --cd-color-snow: #F8F9FA;
  --cd-font-size-3xl: 120px;
  --cd-font-size-2xl: 72px;
  --cd-font-size-xl: 68px;
  --cd-font-size-lg: 48px;
  --cd-font-size-md: 40px;
  --cd-font-size-sm: 32px;
  --cd-font-size-xs: 28px;
  --cd-font-line-height-3xl: 95%;
  --cd-font-line-height-2xl: 53.1%;
  --cd-font-line-height-xl: 95%;
  --cd-font-line-height-lg: 170%;
  --cd-font-line-height-md: 170%;
  --cd-font-line-height-sm: 160%;
  --cd-font-line-height-xs: 120%;
  --cd-font-letter-spacing-h1: -.02em;
  --cd-font-letter-spacing-body: 0px;
  --cd-font-letter-spacing-heading: -2px;
  --cd-font-family-saira: "Saira Semi Condensed";
  --cd-font-family-roboto: "Roboto";
  --cd-gradient-gold: linear-gradient(180deg, var(--cd-color-sunshine) 0%, var(--cd-color-sunflower) 100%);
  --cd-font-size-p-small:16px;
  --cd-font-size-p:18px;
  --cd-font-size-p-large:22px;
  --cd-font-size-li-heading: 54px;
  --cd-font-size-li-text: 26px;
  --cd-font-size-h1: 48px;
  --cd-font-size-h2: 28px;
  --cd-font-size-h3: 52px;
  --cd-font-size-title: 72px;
  --cd-font-size-tag: 24px;
  --cd-font-size-btn: 18px;
  --cd-btn-padding: 20px 30px;
  --cd-container-padding: 30px 50px;
}
@media screen and (min-width: 700px) {
  :root {
    --cd-screen-split: 7.3145%;
    --cd-fluid-btn-padding-vert: clamp(24px, calc(1.5rem + ((1vw - 10px) * 2.6)), 50px);
    --cd-fluid-btn-padding-horz: clamp(30px, calc(1.875rem + ((1vw - 10px) * 3.3)), 63px);
    --cd-container-padding: 40px 60px;
    --cd-fluid-container-padding-vert: clamp(40px, calc(2.5rem + ((1vw - 10px) * 2.2)), 62px);
    --cd-fluid-container-padding-horz: 60px;
    --cd-fluid-font-size-h1: clamp(48px, calc(3rem + ((1vw - 10px) * 7.2)), 120px);
    --cd-fluid-font-size-h2: clamp(40px, calc(2.5rem + ((1vw - 10px) * 2.8)), 68px);
    --cd-fluid-font-size-h3: clamp(64px, calc(4rem + ((1vw - 10px) * 0.8)), 72px);
    --cd-fluid-font-size-title: clamp(96px, calc(6rem + ((1vw - 10px) * 15.767)), 253.67px);
    --cd-fluid-font-size-tag: clamp(32px, calc(2rem + ((1vw - 10px) * 2.125)), 53.25px);
    --cd-fluid-font-size-btn: clamp(22px, calc(1.375rem + ((1vw - 7px) * 1.8571)), 48px);
    --cd-fluid-font-size-start-btn: clamp(18px, calc(1.125rem + ((1vw - 7px) * 1.5714)), 40px);
    --cd-fluid-start-btn-padding-vert: clamp(12px, calc(0.75rem + ((1vw - 7px) * 2.7143)), 50px);
    --cd-fluid-start-btn-padding-horz: clamp(24px, calc(1.5rem + ((1vw - 7px) * 2.8571)), 64px);
    --cd-fluid-start-btn-padding: var(--cd-fluid-start-btn-padding-vert) var(--cd-fluid-start-btn-padding-horz);
    --cd-fluid-logo-width: clamp(138px, calc(8.625rem + ((1vw - 7px) * 33)), 600px);
  }
}
@media screen and (min-width: 2000px) {
  :root {
    --cd-font-size-p-small: 24px;
    --cd-font-size-p: 28px;
    --cd-font-size-p-large: 36px;
    --cd-font-size-li-heading: 54px;
    --cd-font-size-li-text: 26px;
    --cd-font-size-h1:120px;
    --cd-font-size-h2: 68px;
    --cd-font-size-h2-super: 86px;
    --cd-font-size-h3: 72px;
    --cd-font-size-title: 253.67px;
    --cd-font-size-tag: 53.25px;
    --cd-font-size-btn: 40px;
    --cd-start-btn-padding: 50px 63px;
    --cd-btn-padding: 62px;
    --cd-container-padding: 70px 90px;
    --cd-containers-gap-content-area: 80px;
    --cd-containers-padding-main-top: 120px;
    --cd-containers-padding-main-bottom: 140px;
    --cd-containers-padding-main-left: 100px;
    --cd-containers-padding-main-right: 100px;
    --cd-containers-dimensions-screen-size-width: 2160px;
    --cd-containers-dimensions-screen-size-height: 3840px;
    --cd-containers-dimensions-heading-column-width: 440px;
    --cd-containers-dimensions-logo-size-width: 600px;
    --cd-containers-dimensions-container-max-width: 1700px;
    --cd-font-size-list-item: 26px;
  }
}

/* roboto-100 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v32-latin-100.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-100italic - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/roboto-v32-latin-100italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v32-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v32-latin-300italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v32-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900italic - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto-v32-latin-900italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-100 - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/saira-semi-condensed-v13-latin-100.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/saira-semi-condensed-v13-latin-200.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/saira-semi-condensed-v13-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/saira-semi-condensed-v13-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/saira-semi-condensed-v13-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/saira-semi-condensed-v13-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/saira-semi-condensed-v13-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/saira-semi-condensed-v13-latin-800.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* saira-semi-condensed-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Saira Semi Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/saira-semi-condensed-v13-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
  border: none;
}

.img-btn {
  max-width: 872px;
  width: 100%;
  height: auto;
  padding: var(--cd-fluid-btn-padding-horz) var(--cd-fluid-btn-padding-horz);
  background-image: url(../img/BTN-NAV-BLANK.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cd-color-white);
  font-family: var(--cd-font-family-roboto);
  font-size: var(--cd-fluid-font-size-btn);
  font-style: normal;
  font-weight: 700;
  line-height: 42.61px; /* 106.525% */
  letter-spacing: 0.4px;
  text-align: center;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: relative;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
.img-btn:hover {
  background-image: url(../img/BTN-NAV-BLANK-HOVER.png);
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
.img-btn:focus {
  background-image: url(../img/BTN-NAV-BLANK.png);
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
.img-btn:active {
  transform: scale(0.95);
  background-image: url(../img/BTN-NAV-BLANK-HOVER.png);
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
.img-btn .btn-tag {
  position: absolute;
  right: -21.539px;
  top: -28.657px;
  font-size: var(--cd-fluid-font-size-tag);
  background: var(--cd-color-tangerine);
  color: var(--cd-color-blacktop);
  display: flex;
  padding: 11.98px;
  justify-content: center;
  align-items: center;
  gap: 2.396px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.649px; /* 61.87% */
  letter-spacing: -1.917px;
  font-family: var(--cd-font-family-saira);
}

.start-btn {
  max-width: 805px;
  width: auto;
  height: auto;
  padding: var(--cd-fluid-start-btn-padding);
  background-image: url(../img/START-BTN-BLANK.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cd-color-blacktop);
  font-family: var(--cd-font-family-roboto);
  font-size: var(--cd-fluid-font-size-start-btn);
  font-style: normal;
  font-weight: 700;
  line-height: 42.61px; /* 106.525% */
  letter-spacing: 0.4px;
  text-align: center;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: relative;
  outline: none !important;
  border: none !important;
  box-shadow: 0px 0px 63.915px 2.96px #C24621;
  background-color: transparent;
}
@media screen and (min-width: 2000px) {
  .start-btn {
    width: 100%;
  }
}
.start-btn:focus {
  background-image: url(../img/START-BTN-BLANK.png);
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  outline: none !important;
  border: none !important;
  box-shadow: 0px 0px 63.915px 2.96px #C24621;
  background-color: transparent;
}
.start-btn:active {
  transform: scale(0.95);
  background-image: url(../img/START-BTN-BLANK-HOVER.png);
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  outline: none !important;
  border: none !important;
  box-shadow: 0px 0px 23.915px 2.96px #C24621;
  background-color: transparent;
}
.start-btn #start_hover {
  background-image: url(../img/START-BTN-BLANK-HOVER.png);
  box-shadow: none;
}
.start-btn.start_hover {
  background-image: url(../img/START-BTN-BLANK-HOVER.png);
  box-shadow: none;
}

.btn {
  display: flex;
  padding: 50px 64px;
  border-radius: 8.522px;
  align-items: center;
  justify-content: center;
  color: var(--cd-color-blacktop);
  font-family: var(--cd-font-family-roboto);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42.61px; /* 106.525% */
  letter-spacing: 0.4px;
  width: 100%;
  max-width: 870px;
  text-align: center;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: relative;
}

.btn .btn-tag {
  position: absolute;
  right: -21.539px;
  top: -28.657px;
  font-size: var(--cd-fluid-font-size-btn);
  background: var(--cd-color-tangerine);
  color: var(--cd-color-blacktop);
  display: flex;
  padding: 11.98px;
  justify-content: center;
  align-items: center;
  gap: 2.396px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.649px; /* 61.87% */
  letter-spacing: -1.917px;
  font-family: var(--cd-font-family-saira);
}

.btn:hover {
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.btn:active,
.btn:focus {
  /*	max-width: 775px !important;*/
  /*padding: 40px 20px !important;
  font-size: 45.339px !important;*/
  /*	letter-spacing: 0.907px;*/
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.btn-primary {
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  color: var(--cd-color-white);
  border-radius: 10.618px;
  border: 2.654px solid rgba(255, 255, 255, 0.8);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(0, 51, 63, 0.24) 33.5%, rgba(0, 15, 18, 0.64) 100%);
}

.btn-primary:hover,
.btn-primary:focus {
  border-radius: 10.029px !important;
  border: 2.507px solid #3A7582 !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(0, 51, 63, 0.24) 33.5%, rgba(255, 130, 28, 0.8) 100%) !important;
  color: var(--cd-color-white) !important;
  box-shadow: none !important;
}

.btn-primary:active {
  border-radius: 10.029px !important;
  border: 2.507px solid #3A7582 !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(0, 51, 63, 0.24) 33.5%, rgba(255, 130, 28, 0.8) 100%) !important;
  color: var(--cd-color-white) !important;
  box-shadow: none !important;
}

.btn-secondary {
  border: 2.13px solid var(--cd-color-sunshine);
  background: var(--cd-gradient-gold);
  box-shadow: 0px 0px 63.915px 2.96px #C24621;
}

.btn-secondary:hover {
  border: 2.13px solid var(--cd-color-sunshine);
  background: var(--cd-gradient-gold);
  box-shadow: 0px 0px 63.915px 2.96px #C24621;
  color: var(--cd-color-blacktop);
}

.btn-secondary:active,
.btn-secondary:focus {
  border: 2.13px solid var(--cd-color-sunshine);
  background: var(--cd-gradient-gold);
  box-shadow: 0px 0px 63.915px 2.96px #C24621;
  color: var(--cd-color-blacktop);
  max-width: 850px !important;
}

.in-dev-btn {
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 74.576px;
  border: 0.746px solid #FFC20E;
  background: linear-gradient(180deg, #FFDF6B 0%, #FFC20E 100%);
  box-shadow: 0px 11.932px 17.898px -5.966px rgba(65, 81, 84, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cd-color-blacktop);
  font-family: var(--cd-font-family-saira);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 44.8px */
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

* {
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  background: var(--cd-color-blacktop);
}

body {
  height: 100%;
  background: var(--cd-color-blacktop);
}
body .font-size-h1, body h1 {
  letter-spacing: var(--cd-font-letter-spacing-h1);
  font-size: var(--cd-font-size-h1);
  min-height: 0vw;
}
body .font-size-h2, body h2 {
  font-size: var(--cd-font-size-h2);
  min-height: 0vw;
}
body .font-size-h3, body h3 {
  font-size: var(--cd-font-size-h3);
  min-height: 0vw;
}
body .font-size-p-large, body p.large {
  font-size: var(--cd-font-size-p-large);
  min-height: 0vw;
}
body .font-size-p, body p {
  font-size: var(--cd-font-size-p);
  min-height: 0vw;
}
body .font-size-p-small, body p.small {
  font-size: var(--cd-font-size-p-small);
  min-height: 0vw;
}
body .font-size-p-xsmall, body p.xsmall {
  font-size: var(--cd-font-size-p-xsmall);
  min-height: 0vw;
}
body .app {
  background: var(--cd-color-blacktop);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  font-family: var(--cd-font-family-roboto);
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}

.app_container {
  /*	aspect-ratio: 9 / 16;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.start_screen_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .start_screen_content {
    gap: clamp(20px, 1.25rem + (1vw - 7px) * 5.7143, 100px);
  }
}
.start_screen_content .start_screen_title {
  color: #FFF;
  text-align: center;
  font-family: var(--cd-font-family-saira);
  font-size: var(--cd-fluid-font-size-title);
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: -5.073px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.start_screen_content .start_screen_title .orange_bg {
  padding: 0.03em 0.125em 0.03em 0.1em;
  color: var(--cd-color-blacktop);
  line-height: unset;
  margin-bottom: 0.125em;
}

.section {
  z-index: 6;
  display: flex;
  align-content: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--cd-screen-split);
}
@media screen and (min-width: 2000px) {
  .section {
    top: 22.5%;
  }
}
.section .screen_container {
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  display: flex;
  max-width: 1700px;
  width: 100%;
  padding: 120px 100px 140px 100px;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

#start-screen {
  justify-content: center !important;
  top: 0 !important;
}

#menu-screen .screen_container {
  padding: 60px;
}

.content_container {
  display: flex;
  padding: 70px 90px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 100%;
}
.content_container.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
}

.content-table {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.content-table .cell {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.content-table .cell.table-corner {
  width: 10px;
  height: 10px;
}
.content-table .cell.top-left {
  background-image: url(../img/CALLOUTS_01.png);
}
.content-table .cell.top-center {
  background-image: url(../img/CALLOUTS_02.png);
}
.content-table .cell.top-right {
  background-image: url(../img/CALLOUTS_03.png);
}
.content-table .cell.middle-left {
  background-image: url(../img/CALLOUTS_04.png);
}
.content-table .cell.middle-center {
  background-image: url(../img/CALLOUTS_05.png);
}
.content-table .cell.middle-right {
  background-image: url(../img/CALLOUTS_06.png);
}
.content-table .cell.bottom-left {
  background-image: url(../img/CALLOUTS_07.png);
}
.content-table .cell.bottom-center {
  background-image: url(../img/CALLOUTS_08.png);
}
.content-table .cell.bottom-right {
  background-image: url(../img/CALLOUTS_09.png);
}

#tailored-plans-screen .content_container {
  padding: 0;
}

.content_container.rows_3 {
  background-image: url(../img/CALLOUTS3.png);
}

.text_container {
  padding: 60px 100px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  display: flex;
}

.text_container *:last-child {
  padding-bottom: 0px;
}

nav {
  max-width: 870px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
nav .btn_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.nav_extras {
  padding-top: 148px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.headline {
  font-style: normal;
  font-weight: 700;
  line-height: 53.089px;
}

.screen-title {
  display: flex;
  padding: 16px 0 40px 0;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  margin: 0;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}
.plans .plan {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 10;
  position: relative;
  overflow: hidden;
  padding: 60px 100px;
}
.plans .plan h2 {
  font-size: var(--cd-font-size-h2);
  font-style: normal;
  font-weight: 700;
  line-height: 95%; /* 64.6px */
  letter-spacing: -1.36px;
  margin-bottom: 8px;
}
.plans .plan .price {
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 45.6px */
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.plans .plan .ul-title {
  font-size: var(--cd-font-size-h4);
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 45.6px */
  padding-bottom: 0;
  margin: 0;
  padding-top: 20px;
  font-family: var(--cd-font-family-saira);
}
.plans .core {
  flex: 1 1 50%;
  background-image: url(../img/CORE-BG.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.plans .core h2 {
  color: var(--cd-color-tangerine);
}
.plans .premium {
  flex: 1 1 50%;
  background-image: url(../img/PREMIUM-BG.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.plans .premium h2 {
  background: var(--cd-gradient-gold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--cd-font-size-h2-super);
}
.plans.feature_open .core {
  transform: scale(0.9);
  background-image: url(../img/CORE-BG.png);
}
.plans.feature_open .premium {
  transform: scale(1.1);
  background-image: url(../img/PREMIUM-BG-EXP.png);
}
.plans.feature_open .premium h2 {
  background: var(--cd-gradient-gold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--cd-font-size-h2-super);
}

.top_bar {
  height: 18px;
  background-color: #E5EAEB;
  width: 100%;
}

.plus-title {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 45.6px */
  padding-bottom: 0;
  margin: 0;
  padding-top: 0px;
  font-family: var(--cd-font-family-saira);
  color: var(--cd-color-white);
}

.feature_toggle {
  display: flex;
  padding: 32px 0;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  text-decoration: none;
  color: var(--cd-color-white);
}

.feature_toggle .icon-el {
  width: 100px;
  height: 100px;
  background: url(../img/icon-minus.svg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.feature_toggle.collapsed .icon-el {
  background: url(../img/icon-plus.svg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

#premium_additions ul {
  padding-top: 0px !important;
}

#premium_additions ul li {
  color: var(--cd-color-sunshine);
  font-family: var(--cd-font-family-roboto);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.plan ul {
  color: var(--cd-color-white);
  font-family: var(--cd-font-family-roboto);
  padding-top: 30px;
}

.plan ul li {
  color: var(--cd-color-white);
  font-family: var(--cd-font-family-roboto);
  font-size: var(--cd-font-size-p);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}

.plan ul li:last-child {
  margin-bottom: 0px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  z-index: 15;
  height: auto;
  padding: 0 60px 60px;
  flex: 0 1 280px;
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 700px) {
  footer {
    height: var(--cd-screen-split);
  }
}
footer .footer_column {
  flex: 1;
}
footer .footer_column .app_control_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25.875px;
}
footer .footer_column.app_control {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  leading-trim: both;
  text-edge: cap;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 59.726px; /* 110.603% */
  letter-spacing: 1.08px;
}
footer .footer_column.app_control.exit_container {
  align-items: flex-start;
}
footer .footer_column.app_control.exit_container #footer-exit:hover .exit-svg-container,
footer .footer_column.app_control.exit_container #footer-exit:hover .exit-text {
  transform: scale(0.9);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
footer .footer_column.app_control.menu_container {
  align-items: flex-end;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
footer .footer_column.app_control.menu_container #footer-menu.open .menu-line-1 {
  width: 31px !important;
}
footer .footer_column.app_control.menu_container #footer-menu.open .menu-line-3 {
  width: 31px !important;
}
footer .footer_column.app_control.menu_container #footer-menu:hover .footer-menu-div {
  transform: scale(0.9);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.menu-svg-container {
  width: 90px;
  height: 90px;
  position: relative;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.menu-svg-container .menu-line {
  position: absolute;
  width: 61px;
  height: 6px;
  background: #fff;
  display: block;
  border-radius: 2.51px;
}
.menu-svg-container .menu-line.short {
  width: 51px;
}
.menu-svg-container .menu-line-1 {
  left: 14px;
  top: 20px;
  transition-duration: 0.5s;
}
.menu-svg-container .menu-line-2 {
  left: 14px;
  top: 42px;
  transition-duration: 0.5s;
}
.menu-svg-container .menu-line-3 {
  left: 14px;
  top: 64px;
  transition-duration: 0.5s;
}

.exit-svg-container {
  width: 90px;
  height: 90px;
  position: relative;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.exit-svg-container svg.exit-door {
  position: absolute;
  right: 14px;
  top: 11px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.exit_container #footer-exit:hover .exit-svg-container svg.exit-door,
.exit_container #footer-exit:active .exit-svg-container svg.exit-door {
  right: 0px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.exit-svg-container svg.exit-arrow {
  position: absolute;
  top: 27px;
  left: 14px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.exit_container #footer-exit:hover .exit-svg-container svg.exit-arrow,
.exit_container #footer-exit:active .exit-svg-container svg.exit-arrow {
  left: 0px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.logo_container {
  text-align: center;
}
.logo_container .cd_logo {
  width: var(--cd-fluid-logo-width);
}

.callout_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.callout_card .callout_img img {
  width: 100%;
}
.callout_card .callout_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.callout_row {
  display: flex;
  padding: 80px 0px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}
.callout_row:first-child {
  padding-top: 0px !important;
}
.callout_row:last-child {
  padding-bottom: 0px !important;
}
.callout_row .callout_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}
.callout_row .callout_img {
  flex: 1;
  position: relative;
}
.callout_row .callout_img img {
  width: 100%;
  max-width: 630px;
}

.callout_img a {
  position: relative;
  display: block;
}

.fancy_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.fl_item {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.fl_item .fl_item_heading {
  font-size: var(--cd-fluid-font-size-h2);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.08px;
  flex: 1 0 440px;
  padding-top: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
  font-family: var(--cd-font-family-saira);
}
.fl_item .fl_item_content {
  width: 100%;
}
.fl_item .fl_item_content p {
  font-size: var(--cd-font-size-li-text);
}
.fl_item .fl_item_content .content-area {
  padding: 30px;
}
.fl_item .fl_item_content .content-area ul {
  margin-bottom: 0;
}

.li_bg_table {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.li_bg_table .cell {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.li_bg_table .cell.table-corner {
  width: 14px;
  height: 18px;
}
.li_bg_table .cell.top-left {
  background-image: url(../img/list-item-core_01.png);
}
.li_bg_table .cell.top-center {
  background-image: url(../img/list-item-core_02.png);
}
.li_bg_table .cell.top-right {
  background-image: url(../img/list-item-core_03.png);
}
.li_bg_table .cell.middle-left {
  background-image: url(../img/list-item-core_04.png);
}
.li_bg_table .cell.middle-center {
  background-image: url(../img/list-item-core_05.png);
}
.li_bg_table .cell.middle-right {
  background-image: url(../img/list-item-core_06.png);
}
.li_bg_table .cell.bottom-left {
  background-image: url(../img/list-item-core_07.png);
}
.li_bg_table .cell.bottom-center {
  background-image: url(../img/list-item-core_08.png);
}
.li_bg_table .cell.bottom-right {
  background-image: url(../img/list-item-core_09.png);
}

.li_bg_table.gold {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.li_bg_table.gold .cell {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.li_bg_table.gold .cell.table-corner {
  width: 10px;
  height: 10px;
}
.li_bg_table.gold .cell.table-corner.top {
  width: 10px;
  height: 59px;
}
.li_bg_table.gold .cell.top-left {
  background-image: url(../img/gold-list-item-core_01.png);
}
.li_bg_table.gold .cell.top-center {
  background-image: url(../img/gold-list-item-core_02.png);
}
.li_bg_table.gold .cell.top-right {
  background-image: url(../img/gold-list-item-core_03.png);
}
.li_bg_table.gold .cell.middle-left {
  background-image: url(../img/gold-list-item-core_04.png);
}
.li_bg_table.gold .cell.middle-center {
  background-image: url(../img/gold-list-item-core_05.png);
}
.li_bg_table.gold .cell.middle-right {
  background-image: url(../img/gold-list-item-core_06.png);
}
.li_bg_table.gold .cell.bottom-left {
  background-image: url(../img/gold-list-item-core_07.png);
}
.li_bg_table.gold .cell.bottom-center {
  background-image: url(../img/gold-list-item-core_08.png);
}
.li_bg_table.gold .cell.bottom-right {
  background-image: url(../img/gold-list-item-core_09.png);
}
.li_bg_table.gold .cell.coming-soon {
  color: var(--cd-color-blacktop);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: var(--cd-font-family-saira);
  font-size: clamp(18px, 1.125rem + (1vw - 7px) * 0.7143, 28px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 28px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

.new-tag {
  color: var(--cd-color-blacktop);
  font-family: var(--cd-font-family-saira);
  font-size: 53.254px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.948px; /* 61.87% */
  letter-spacing: -2.13px;
  background: var(--cd-color-tangerine);
  display: flex;
  padding: 13.314px;
  justify-content: center;
  align-items: center;
  gap: 2.663px;
  width: fit-content;
}

.link-arrow {
  text-align: center;
  font-family: var(--cd-font-family-roboto);
  font-size: 51.283px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 20.513px;
  text-decoration: none;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.link-arrow:hover {
  cursor: pointer;
}

.nav-arrow {
  display: block;
  width: 21.615px;
  height: 29.931px;
}

.zoom-pulse {
  z-index: 8;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  position: absolute;
  /*	margin-top: -150px;
      margin-left: -150px;*/
}

.icon-zoom {
  display: block;
  width: 138.022px;
  height: 138.022px;
  background: url(../img/icon-zoom.svg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  position: absolute;
  /*margin-top: -64px;
     margin-left: -64px;*/
  top: 50%;
  left: 50%;
  z-index: 10;
  /*	animation: pulse-icon 4s infinite ease-in-out;*/
}

.x-btn,
.close-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  right: -20px;
  top: 0px;
  background: transparent !important;
  outline: none;
  box-shadow: none;
  border: none;
  width: 170px;
  height: 170px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.x-svg {
  width: 90px;
  height: 90px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.x-btn:hover .x-svg {
  transform: scale(0.75);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.img-toggle {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.timer-overlay {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.timer-overlay ._svg {
  width: 150px;
  height: 150px;
}
.timer-overlay .timer-title {
  color: var(--cd-color-tangerine);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: var(--cd-font-family-saira);
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 73.8px */
  letter-spacing: -0.82px;
  text-transform: uppercase;
}
.timer-overlay .timer-text {
  color: #FFF;
  text-align: center;
  font-family: var(--cd-font-family-roboto);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
}
.timer-overlay .timer-text #timer-counter {
  font-weight: 700;
}
.timer-overlay #exit-timer {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: var(--cd-font-family-roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 21.6px */
  letter-spacing: 0.24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-decoration: underline;
}

.msg-overlay {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.msg-overlay ._svg {
  width: 150px;
  height: 150px;
}
.msg-overlay .msg-title {
  color: var(--cd-color-tangerine);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: var(--cd-font-family-saira);
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 73.8px */
  letter-spacing: -0.82px;
  text-transform: uppercase;
}
.msg-overlay .msg-text {
  color: #FFF;
  text-align: center;
  font-family: var(--cd-font-family-roboto);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
}
.msg-overlay .msg-text #msg-counter {
  font-weight: 700;
}
.msg-overlay #exit-msg {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: var(--cd-font-family-roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 21.6px */
  letter-spacing: 0.24px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-decoration: underline;
}

.modal .btn-close {
  background: url(../img/icon-plus.svg);
  width: 111.642px;
  height: 113.36px;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(45deg);
  position: absolute;
  top: -61px;
  right: -61px;
  z-index: 20;
  opacity: 1;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.modal .btn-close:hover, .modal .btn-close:active {
  transform: scale(0.9) rotate(45deg);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.modal .modal-dialog {
  max-width: 1717.577px;
  width: 90%;
}
.modal .modal-dialog .modal-content {
  background-color: transparent;
}
.modal .modal-dialog .modal-content .modal-body {
  position: relative;
  border-radius: 12.158px;
  background: #E5EAEB;
  padding: 50px;
  overflow: hidden;
}
.modal .modal-dialog .modal-content .modal-body .drawer-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  height: 100%;
}
.modal .modal-dialog .modal-content .modal-body .listing-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0) !important;
  z-index: 12;
  max-width: 1300px;
}
.modal .modal-dialog .modal-content .modal-body .map-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 12;
  max-width: 1300px;
}
.modal .modal-dialog .modal-content .modal-body .inner-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 12.158px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}
.modal .modal-dialog .modal-content .modal-body #drawer-trigger {
  z-index: 10;
}
.modal .modal-dialog .modal-content .modal-body #drawer-trigger:hover {
  cursor: pointer;
}

.hotspot {
  position: absolute;
  width: 150px;
  height: 150px;
  pointer-events: none;
}

.pc-hs-1 {
  right: 40px;
  top: 110px;
}

.hs-1 {
  right: 60px;
  top: 450px;
}

.hs-2 {
  top: 740px;
  left: 80px;
}

.hs-3 {
  top: 310px;
  left: 581px;
}

.hs-4 {
  bottom: 370px;
  left: 0px;
  z-index: 55;
}

.hs-5 {
  bottom: 27%;
  left: 46%;
}

.hs-6 {
  bottom: 6%;
  right: 18%;
}

.scroll-wrap {
  width: 100%;
  height: 100%;
  max-height: 2150px;
  overflow: scroll;
}

.modal-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}

.scrollable-wrap {
  max-height: 1600px;
  overflow: scroll;
}

.phone-wrap {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone-screen {
  display: block;
  width: 760px;
  height: 1560px;
  position: relative;
}

.phone-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.phone-screen-1 {
  z-index: 10;
}

.phone-screen-2 {
  z-index: 30;
}

.phone-screen-3 {
  z-index: 40;
}

.phone-start-button {
  position: absolute;
  z-index: 20;
  bottom: 200px;
  right: 60px;
  max-width: 102px;
}

.blind-ratings-modal-2 {
  position: absolute;
  bottom: 100px;
  right: 100px;
  max-width: 620px;
}

div#preload {
  display: none;
}

.loader {
  color: #FF821C;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: spinner 1.3s infinite linear;
  animation: spinner 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00333F;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#image-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00333F;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.font-size-h1 {
  letter-spacing: var(--cd-font-letter-spacing-h1);
  font-size: var(--cd-font-size-h1);
}

.font-size-h2 {
  font-size: var(--cd-font-size-h2);
}

.font-size-h3 {
  font-size: var(--cd-font-size-h3);
}

.font-size-p-large {
  font-size: var(--cd-font-size-p-large);
}

.font-size-p {
  font-size: var(--cd-font-size-p);
}

.font-size-p-large {
  font-size: var(--cd-font-size-p-large);
}

.font-roboto {
  font-family: var(--cd-font-family-roboto);
}

.font-saira-semi-condensed {
  font-family: var(--cd-font-family-saira);
}

.font-size-li-text {
  font-size: var(--cd-font-size-li-text);
}

.font-line-height-md {
  line-height: var(--cd-font-line-height-md);
}

.font-line-height-3xl {
  line-height: var(--cd-font-line-height-3xl);
}

.font-line-height-2xl {
  line-height: var(--cd-font-line-height-2xl);
}

.font-line-height-xl {
  line-height: var(--cd-font-line-height-xl);
}

.font-line-height-sm {
  line-height: var(--cd-font-line-height-sm);
}

.font-line-height-lg {
  line-height: var(--cd-font-line-height-lg);
}

.font-line-height-xs {
  line-height: var(--cd-font-line-height-xs);
}

.font-letter-spacing-body {
  letter-spacing: var(--cd-font-letter-spacing-body);
}

.font-letter-spacing-heading {
  letter-spacing: var(--cd-font-letter-spacing-heading);
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.color-white {
  color: var(--cd-color-white);
}

.color-tangerine {
  color: var(--cd-color-tangerine);
}

.color-umber {
  color: var(--cd-color-umber);
}

.color-rust {
  color: var(--cd-color-rust);
}

.color-blacktop {
  color: var(--cd-color-blacktop);
}

.color-sunflower {
  color: var(--cd-color-sunflower);
}

.color-sunshine {
  color: var(--cd-color-sunshine);
}

.color-cobalt {
  color: var(--cd-color-cobalt);
}

.color-azure {
  color: var(--cd-color-azure);
}

.color-cerulean {
  color: var(--cd-color-cerulean);
}

.color-pavement-grey {
  color: var(--cd-color-pavement-grey);
}

.color-steel-grey {
  color: var(--cd-color-steel-grey);
}

.color-light-grey {
  color: var(--cd-color-light-grey);
}

.color-fog {
  color: var(--cd-color-fog);
}

.color-snow {
  color: var(--cd-color-snow);
}

.orange_bg {
  background: var(--cd-color-tangerine);
  color: var(--cd-color-blacktop);
}

.dark-overlay {
  opacity: 0.3;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.blur {
  filter: blur(25px);
}

.blur-overlay {
  filter: blur(25px);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: url(../img/cd-nada-touchscreen-background.jpg);
}

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 4;
  opacity: 0.3;
}

.no-bg {
  background: transparent !important;
}

.no-border {
  border: none !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.min-100 {
  min-width: 100%;
}

.max-900 {
  max-width: 900px;
}

.h-auto {
  height: auto;
}

.pb-50 {
  padding-bottom: 50px;
}

.padding-wrap {
  padding: 140px 100px;
}

.inline-block {
  display: inline-block !important;
}

.transition {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.no-bg {
  background-image: none !important;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-top-left {
  top: 0;
  left: 0;
}

.op-0 {
  opacity: 0 !important;
}

.op-1 {
  opacity: 1 !important;
}

.z-2000 {
  z-index: 2000;
}

.z-200 {
  z-index: 200;
}

.z-120 {
  z-index: 120;
}

.z-100 {
  z-index: 100;
}

.z-70 {
  z-index: 70;
}

.z-60 {
  z-index: 60;
}

.z-50 {
  z-index: 50;
}

.z-40 {
  z-index: 40;
}

.rotate45 {
  transform: rotate(45deg);
}

.rotate-45 {
  transform: rotate(-45deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate-90 {
  transform: rotate(-90deg);
}

@-webkit-keyframes spinner {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes spinner {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@-webkit-keyframes heartbeatIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes pulse-icon {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  12.5% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  25% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes pulse-icon {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  12.5% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  25% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes heartbeatIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.animate__heartbeatIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: calc(var(--animate-duration) * 0.75);
  animation-duration: calc(var(--animate-duration) * 0.75);
  -webkit-animation-name: heartbeatIn;
  animation-name: heartbeatIn;
}

/*# sourceMappingURL=main.css.map */
